* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}



div.left-images{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 320px;
  width: 80px;
  top: 160px;
  left:101px;
}

div.description-block{
  
  margin: 0 auto;
  width: 1002px;
  height: 513px;

}