@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Raleway;
}


.category {
  position: relative;
  width: 100%;
  left: 101px;
  top: 80px;
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;


}

.grid * {

  position: relative;
  cursor: pointer;

}

.grid {
  display: grid;
  grid-template-columns: 386px 386px 386px;
  grid-template-rows: 444px 444px;
  grid-column-gap: 40px;
  grid-row-gap: 103px;
  margin-top: 103px;
  margin-left: 101px;
}


.grid img {
  width: 354px;
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 98px;
  left: 16px;

}

.item-name {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 45px;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  line-height: 160%;
}

.price {
  position: absolute;
  right: 312px;
  bottom: 16px;
  left: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

}

.grid-element {

  transition: 0.7s;
}

div.grid-element:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transition: 0.4s;
}

