@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}


.category {
  position: relative;
  width: 100%;
  left: 101px;
  top: 80px;
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;


}

.grid * {

  position: relative;
  cursor: pointer;

}

.grid {
  display: grid;
  grid-template-columns: 386px 386px 386px;
  grid-template-rows: 444px 444px;
  grid-column-gap: 40px;
  grid-row-gap: 103px;
  margin-top: 103px;
  margin-left: 101px;
}


.grid img {
  width: 354px;
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 98px;
  left: 16px;

}

.item-name {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 45px;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  line-height: 160%;
}

.price {
  position: absolute;
  right: 312px;
  bottom: 16px;
  left: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

}

.grid-element {

  transition: 0.7s;
}

div.grid-element:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transition: 0.4s;
}

div.cart-menu{
  position: absolute;
  width: 325px;
  height: 540px;
  background-color: rgb(240,240, 240);
  z-index: 1;
  top:80px;
  left:1028px;
  right:87px;
}

div.cart-menu p {
  margin: 8px 190px 23px 16px;
  font-family: Raleway;
  font-weight: 500;
  
}
b{
  font-weight: 700;
}

.container{
  display: flex;
  flex-direction: column;
  
}

.cart-item{
  max-width: 100%;
  height: 137px;
  margin: 0 16px 41px 16px;
}
div.cart-item img {
  float: right;
}

div.item-counter{
  max-width: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  float: right;
  margin-right: 10px;
}

#count-el{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.item-counter-button{
  width: 24px;
  height: 24px;  
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
}

div.cart-item p{
  width: fit-content;
  margin:0;
  margin-bottom: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}
.cart-item-price{
  width: fit-content;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
}
div.size-buttons button{
  width: 24px;
  height: 24px;
  border-radius: 0px;
  border: 1px solid black;
  margin-right: 8px;
  padding: 0;
  background-color: white;
  margin-bottom: 52px;
}
button.not-available {
  opacity: 20%;
}
div.total-price-container{
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight:bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 35px;
}
div.cart-menu-buttons{
  display: flex;
  justify-content: space-around;
}
div.cart-menu-buttons button{
  width: 140px;
  height: 43px;
  border: none;

}
#check-out{
  background-color: #5ECE7B;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
}
#view-bag{
  border: 1px solid black;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
}